HEADED=true
APP_URL=https://bsv-automation.eventos.work/console
PORTAL_URL=https://bsv-nhungnguyen.github.io/sample_UI/portal_home.html
VALID_EMAIL=your-email@example.com
VALID_PASSWORD=your-password
ALLURE_PATH=
